#main-title
  display inline-block
  font-size 4rem
  font-weight 900
  letter-spacing 0.1em
  background-image linear-gradient(90deg, #f72585, #7209b7)
  background-clip text
  -webkit-text-fill-color transparent

.hero
  margin 5rem 0 7rem

.language-vue
  border-bottom-left-radius 0 !important
  border-bottom-right-radius 0 !important

.preview
  position: relative
  background: #f3f5f7
  border-radius 6px
  padding 1rem 1.5rem;
  margin -0.85rem -1.5rem 1rem -1.5rem

  & > p:first-child
    margin-top 0

  & > p:last-child
    margin-bottom 0
